<!doctype html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>GirassolBit - Empresa especializada em Experimentos Híbridos >> Mobile + Web</title>
		<meta name="keywords" content="girassolbit, empresa, startup, empreendedorismo digital" />
		<meta name="description" content="Empresa especializada em construir experimentos web e mobile, que possam tornar mais eficaz, a vida das pessoas em diversos aspectos, seja no âmbito social, da comunicação, no entretenimento, educação, enfim, automatizar processos" />
		<meta name="author" content="GirassolBit" />
		<meta property="og:title" content="GirassolBit - Empresa especializada em Experimentos Híbridos >> Mobile + Web"/>
		<meta property="og:site_name" content="girassolbit.com.br"/>
		<meta property="og:description" content="Empresa especializada em construir experimentos web e mobile, que possam tornar mais eficaz, a vida das pessoas em diversos aspectos, seja no âmbito social, da comunicação, no entretenimento, educação, enfim, automatizar processos" />
		<meta name="google-site-verification" content="4dXviYi018zrCtpRhp1YfG_kwjTtP329xS39j4SeFIU" />
		<meta name="robots" content="index,follow" />
		<link href="http://fonts.googleapis.com/css?family=Ubuntu:300|Orbitron" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="/css/css.css" type="text/css">
	</head>
	<body>
		<header>
      <div id="logomarca">
      	<div id="logo">
      		<div class="q q1">
      		</div>
      		<div class="q q2">
      		</div>
      		<div class="q q3">
      		</div>
      		<div class="q q4">
      		</div>
      		<div class="q q5">
      		</div>
      		<div class="q q6">
      		</div>
      		<div class="q q7">
      		</div>
      		<div class="q q8">
      		</div>
      		<div class="q q9">
      		</div>
      		<div class="q q10">
      		</div>
      		<div class="q q11">
      		</div>
      		<div class="q q12">
      		</div>
      		<div class="q q13">
      		</div>
      		<div class="q q14">
      		</div>
      		<div class="q q15">
      		</div>
      		<div class="q q16">
      		</div>
      		<div class="q q17">
      		</div>
      		<div class="q q18">
      		</div>
      		<div class="q q19">
      		</div>
      		<div class="q q20">
      		</div>
      		<div class="q q21">
      		</div>
      		<div class="q q22">
      		</div>
      		<div class="q q23">
      		</div>
      		<div class="q q24">
      		</div>
      		<div class="q q25">
      		</div>
      	</div>
      	<p id="nome"><span class="g">girassol</span><span class="b">bit</span></p>
      	<p class="slogan sloganp">EMPRESA ESPECIALIZADA EM</p>
      	<p class="slogan slogang">EXPERIMENTOS HÍBRIDOS <br>MOBILE + WEB</p>
      </div>
		</header>
    <footer>
      <p>GirassolBit 2015 @ Todos os direitos reservados</p>
    </footer>
	</body>
</html>
